body{
	margin:0;
	padding:0;
}

.backgrounds{
	background-image:url("background.png");
	width:100vw;
	height:100vh;
}

.none{
	display:none;
}
.block{
	display:block;
}

.poziom1{
	padding:5%;
	float:center;
}
.poziom2{
	margin-left:15%;
	margin-top:1%;
	float:center;
	
}