html {
	background-image: url('./img/background.png');
	background-repeat: repeat;
	background-size: cover;
}

body {
	padding: 0;
	margin: 100px;
	text-align: center;
}

.wygrana {
	background: green;
}

.koniec {
	cursor: no-drop;
	opacity: 0.55;
}


table {
	margin: 0 auto;
	font-size: 40px;
}

td {
	height: 100px;
	width: 100px;
	cursor: pointer;
	background-color: rgb(201,160,122);

	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}

h1 {
	text-shadow: 2px 2px #555;
}

.message {
	visibility: hidden;
}

.message-green {
	color: #0c0;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #050;
}

.message-red {
	color: #c00;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #500;
}

.message-blue {
	color: #00c;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #005;
}

.check-green {
	background-color: #0c0;
}

.check-red {
	background-color: #c00;
}
